---
import MlCard from "../components/molecules/MlCard.astro";
import { getPagesProps } from "../shared/services/cms/cms.service";

export async function getStaticPaths() {
  return await getPagesProps();
}

const { title, body } = Astro.props;
---

<html lang="en">
  <head>
    <title>{title}</title>
  </head>
  <body>
    <h1>{title}</h1>

    <!-- TODO: fix to optional types, this can be whatever Molecule or Organisms -->
    {
      body
        ?.map((columnContainer: any) =>
          columnContainer.value?.elements?.map((card: any) => (
            <MlCard
              body={card.value?.body_text}
              title={card.value?.title_text}
              img={card.value?.image}
            />
          ))
        )
        .flatMap((x: any) => x)
    }
  </body>
</html>
