---
import MlCard from "../components/molecules/MlCard.astro";

export async function getStaticPaths() {
  const entry: any = JSON.parse(
    await // TODO: move to .env
    (await fetch("http://127.0.0.1:8000/api/v2/pages/4")).text()
  );


  const page = {
    params: { slug: entry.meta.slug },
    props: {
      title: entry.title,
      body: entry?.body,
    },
  };
  return [page];
}

const { title, body } = Astro.props;
---

<html lang="en">
  <head>
    <title>{title}</title>
  </head>
  <body>
    <h1>{title}</h1>

    <!-- TODO: fix to optional types, this can be whatever Molecule or Organisms -->
    {
      body?.map((columnContainer: any) =>
        columnContainer.value?.elements?.map((card: any) => (
          <MlCard
            body={card.value?.body_text}
            title={card.value?.title_text}
            img={card.value?.image}
          />
        ))
      ).flatMap((x:any)=>x)
    }
    <div>{}</div>
  </body>
</html>
